@import url(colors.css);

.about-me {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--preto2);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  margin: 0.5rem 1rem;
}
