@import url(colors.css);

.acordeon {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1.5rem 0;
  border: 1px solid var(--branco1);
  border-radius: 1rem;
  transition: 0.25s;
}

.acordeon:last-child {
  margin: 0.5rem 0;
}

.acordeon:hover,
.acordeon.open {
  background-color: var(--verde1);
}

.acordeon.open {
  padding-bottom: 1rem;
}

.acordeon .trigger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  background-color: transparent;
  color: var(--branco1);
  border: none;
  transition: color 0.25s;
}

.acordeon .trigger h2 {
  margin: 0;
  font-size: 1.5rem;
  text-align: start;
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
}

.acordeon .trigger:hover {
  cursor: pointer;
  color: var(--verde2);
}

.acordeon.open .trigger {
  color: var(--verde2);
}

.acordeon .trigger::after {
  content: "";
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/icons/seta.svg);
}

.acordeon.open .trigger::after {
  transform: rotate(180deg);
}

.acordeon .content {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.acordeon.open .content {
  display: inline-block;
  height: auto;
  opacity: 1;
}

.acordeon .project-links {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  row-gap: 1rem;
}
