.acordeon {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  border: 1px solid white;
  border-radius: 1rem;
}

.acordeon .trigger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  background-color: transparent;
  color: white;
  border: none;
}

.acordeon .trigger:hover {
  cursor: pointer;
}

.acordeon .trigger::after {
  content: "";
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/icons/email.svg);
}

.acordeon .content {
  display: none;
}
