@import url(colors.css);

.education {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.education li {
  background-color: var(--preto2);
  border-radius: 1.5rem;
  padding: 0 2rem;
  margin: 0.5rem 1rem;
  list-style: none;
}

.education li .period {
  display: flex;
  flex-direction: row;
  font-style: italic;
  color: var(--claro);
}

.education li .period::before {
  content: "";
  display: inline-block;
  align-self: center;
  width: 0.75rem;
  height: 0.75rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/icons/graduacao.svg);
  margin-right: 0.5rem;
}

.education li .title {
  margin-bottom: 0.5rem;
  color: var(--verde2);
}

.education time {
  margin-bottom: 1rem;
}

.institution {
  color: var(--claro);
  font-style: italic;
  margin: 0;
  padding-bottom: 0.5rem;
}

.institution::before {
  content: "";
  display: inline-block;
  align-self: center;
  width: 0.75rem;
  height: 0.75rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/icons/instituicao.svg);
  margin-right: 0.5rem;
}
