@import url(colors.css);

.experience {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.experience li{
  background-color: var(--preto2);
  border-radius: 1.5rem;
  padding: 0 2rem;
  margin: 0.5rem;
  list-style: none;
}

.experience li .period {
  display: flex;
  flex-direction: row;
  font-style: italic;
  color: var(--claro);
}

.experience li .period::before {
  content: "";
  display: inline-block;
  align-self: center;
  width: 0.75rem;
  height: 0.75rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/icons/calendario.svg);
  margin-right: 0.5rem;
}

.experience li .title {
  margin-bottom: 0.5rem;
  color: var(--verde2);
}

.company {
  color: var(--claro);
  font-style: italic;
  margin: 0;
  padding-bottom: 0.5rem;
}

.company::before {
  content: "";
  display: inline-block;
  align-self: center;
  width: 0.75rem;
  height: 0.75rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/icons/empresa.svg);
  margin-right: 0.5rem;
}
