@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

@import url(colors.css);

body {
  background: var(--branco1);
  background: linear-gradient(
    320deg,
    rgba(18, 18, 18, 1) 10%,
    rgba(1, 92, 78, 1) 70%,
    rgba(168, 255, 28, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--branco1);
}

b {
  font-weight: 700;
  color: var(--verde2);
  font-family: "JetBrains Mono", sans-serif;
}

figure {
  text-align: center;
  margin: 0.25rem;
}

a {
  text-decoration: none;
  color: var(--branco1);
}

a:hover {
  color: var(--verde2);
  text-decoration: underline;
}

p {
  line-height: 1.5rem;
  text-align: justify;
}

.main {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--branco1);
  border-radius: 1rem;
  background-color: var(--preto1);
}

.main::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 60rem;
    margin: 1rem auto;
  }
}
