@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: black;
  background-image: url(../img/Design\ sem\ nome.png);
  color: white;
}

.main {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 1rem;
}

.main::before {
  content: "";
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  top: 0;
  left: 0;
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 1024px;
    margin: 1rem auto;
  }
}
