@import url(colors.css);

.languages {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--preto2);
  color: var(--branco1);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  margin: 0.5rem 1rem;
  list-style: none;
}

.languages li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
}

#portuguese::before {
  content: "";
  display: flex;
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/icons/languages/portuguesBr.svg);
}

#english::before {
  content: "";
  display: flex;
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/icons/languages/ingles.svg);
}
