@import url(colors.css);

.projects {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--preto2);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  margin: 0.5rem 1rem;
}

.projects .project-links {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 1.25rem;
  text-align: center;
  gap: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.projects li .title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  color: var(--verde2);
}

.projects li .subtitle {
  color: var(--claro);
  font-weight: 500;
  font-style: italic;
  margin: 0.25rem 0 0.15rem 0;
  text-align: center;
}

.technologies {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  align-self: center;
  padding: 0;
  list-style: disc;
}

.technologies li {
  border: none;
}
