.projects {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 1.5rem;
  border: 1px solid #a8ff1c;
}

.projects .project-links {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 1.25rem;
  text-align: center;
  gap: 4rem;
}
.projects li .title {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

.projects li .subtitle {
  font-weight: 500;
  font-style: italic;
  margin: 0.25rem 0 0.15rem 0;
  text-align: center;
}

.technologies {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  align-self: center;
  padding: 0;
  list-style: disc;
}

.technologies li {
  border: none;
}

@media only screen and (min-width: 768px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  hr {
    display: none;
  }
}
