.projects {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}

.projects .project-links {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 1.25rem;
  text-align: center;
  gap: 4rem;
}
.projects li .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  margin: 0;
  margin-bottom: 0.5rem;
}

.technologies {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  align-self: center;
  padding: 0;

}
