@import url(colors.css);

.skills {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  gap: 1rem;
}

.skills h3 {
  text-align: center;
  font-style: italic;
}

.skills section {
  background-color: var(--preto2);
  border-radius: 1.5rem;
  padding: 0 0 2rem 0;
}

.skills section h3 {
  color: var(--verde2);
}

.skills .hard-skills ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills .hard-skills ul li img {
  max-width: 3rem;
  margin: 0.5rem;
}

.skills .soft-skills ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skills .soft-skills ul li img {
  max-width: 3rem;
  margin: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  .skills hr {
    display: none;
  }

  .skills .hard-skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .skills .soft-skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
